body, html{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    top: 0;
    background-color: #091F43;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    width: 400px;
    padding: 50px;
}

header ul, header li{
    list-style: none;
    display: flex;
    padding-right: 50px;
    font-size: 1.25em;
}

header a:visited{
    color: white;
}

header a:hover{
    color: #D1515A;
}

a{
    text-decoration: none;
}


