body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #18191A;
    color: rgb(228, 230, 235);
}

main{
    position: relative;
    width: 50%;
    margin: auto;
    background-color: #18191A;
}

h2{
    text-decoration: underline #D1515A;
}

.RightLine{
    background: url('images/ligne-rouge-saumon.png') repeat-y right;

}

.post{
    color: rgb(228, 230, 235);
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    padding: 0px 30px 5px 30px;
    background-color: #242526;
    border-radius: 10px;
}

.LeftLine{
    width: 100%;
    justify-content: center;
    margin: auto;
    background: url('images/ligne-rouge-saumon.png') repeat-y left;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.PostName{
    font-size: 1.15em;
    text-decoration: underline #D1515A;
}

.PostDate{
    font-size: 0.9em;
    font-style: italic;
}

.PostImg :last-child{
    width: 100%;
}

.PostImg{
    margin: 0px -30px 0px -30px;

}

.PostContent{
    line-height: 140%;
}

#PostArea{
    margin: 10px 0px 20px 0px;
    color: rgb(228, 230, 235);

}

.PostingBloc{
    margin-top: 40px;
}


textarea {
    background: #18191A;
    color: rgb(228, 230, 235);
    border: 1px solid #18191A;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    resize: none;
    overflow: auto;
  }

#AddIMG{
    margin-bottom: 30px;
    background: #18191A;
    color: rgb(228, 230, 235);
    outline: none;
    border: 2px  #27292b solid;
    border-radius: 5px;
    width: 40%;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
}

#AddIMG:hover{
    background: #27292b;
}


#publier{
    margin-bottom: 10px;
    background: #18191A;
    color: rgb(228, 230, 235);
    outline: none;
    border: 2px  #D1515A solid;
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

#publier{
    transition-duration: 0.4s;
}
  
#publier:hover{
    background-color: #D1515A; 
    color: white;
}

#PostArea::placeholder{
    color: rgb(228, 230, 235);
}

/*aside Left*/

aside ul{
    display: flex;
    flex-direction: column;
    float: right;
}

aside ul, header li{
    list-style: none;
    display: flex;
    padding-right: 50px;
    font-size: 1.25em;
}

aside a:visited{
    color: rgb(228, 230, 235);
}

aside a:hover{
    color: #D1515A;
}

a{
    text-decoration: none;
    color: rgb(228, 230, 235);
}

.AsideMenu{
    background-color: #18191A;
    position: absolute;
    right: 75%;
    width: 25%;
    height: 100%;
    font-size: 1.3em;

}

.leftMenu{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.leftMenu i{
    margin-right: 10px;
}

.AsideContent img{
    width: 60%;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 20%;
}

/*Aside right*/

.AsideFriend{
    background-color: #18191A;
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 75%;

}

.FriendAsideContent ul{
    float: left;
}

.RelationTitle{
    margin-left: 50px;
    margin-top: 75px;
}

.rightMenu{
    margin-bottom: 10px;
}

.rightMenu img{
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}